<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>D&D</title>
</head>
<body>
    <h1>Dungeons & Dragons</h1>
    <section>
      <h2><%= char.name %></h2>
      <h3>Stats:</h3>
      <ul class="stats">
        <% for (stat in char) {%>
          <li class="stat">
              <span><%= stat %></span>
              <% if (typeof(stat) == "object") {
                    for(substat in stat) {%>
                        <span><%=substat %><%=stat[substat]%></span>
                    <%} } else {%>
                  <span><%=char[stat] %></span>
          </li>
       <% } } %>
      </ul>
    </div>
  </section>
    <script src="/main.js"></script>
</body>

</html>